<h1>Cohorts</h1>
<div class="flex-container">
    <div>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/cohorts">Cohorts</a></li>
        <li><a href="/">Groups</a></li>
        <li><a href="/">Wet Suits</a></li>
        <li><a href="/">Surf Boards</a></li>
        <li><a href="/schools/Hawaii">Hawaii</a></li>
        <li><a href="/schools/Nicaragua">Nicaragua</a></li>
        <li><a href="/schools/TheCookIslands">The Cook Islands</a></li>
        <li><a href="/">Help</a></li>
        </ul>
    </div>

<nav>
  <ul>
    <li><a href="/instructors/new">Create Cohort</a></li>
    <li><a href="/instructors/:id/edit">Edit Cohort</a></li>
  </ul>
</nav>

<table>
    <thead>
        <th>Reference No.</th>
        <th>Cohort Name</th>
        <th>Start_Date</th>
        <th>End_Date</th>
        <th>Instructor Name</th>
        <th>Course Name</th>
        <th>Students Enrolled</th>
    </thead>
    <tbody>
<% @cohorts.each do |c| %>
    <tr>  
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.start_date %></td>
        <td><%= c.end_date %></td>
        <td><%= c.instructor.fname %> <%= c.instructor.lname %></td>      
        <td><%= c.course.name %></td>
        <% c.students.each do |student| %>
        <td><%= student.cohort_ids %> </td>
        <% end %>
        <% end %>
    </tr>
    </tbody>
</table>
</div>



