<h1>Cohorts-Index</h1>

<div>
<table>
    <thead>
        <th>Reference No.</th>
        <th>Cohort Name</th>
        <th>Start_Date</th>
        <th>End_Date</th>
        <th>Instructor Name</th>
        <th>Course Name</th>
    </thead>
    <tbody>
<% @cohorts.each do |c| %>
    <tr>  
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.start_date %></td>
        <td><%= c.end_date %></td>
        <td><%= c.instructor.fname %> <%= c.instructor.lname %></td>      
        <td><%= c.course.name %></td>
    </tr>
<% end %>   
    </tbody>
</table>
</div>

<div>
<button class="button">New</button>
<button class="button">Edit</button>
<button class="button">Delete</button>
<button class="button">Print</button>
</div>
</div>
