<h1>Cohorts-Index</h1>

<table>
    <thead>
        <th>Reference No.</th>
        <th>Cohort Name</th>
        <th>Start_Date</th>
        <th>End_Date</th>
        <th>Instructor Name</th>
        <th>Course Name</th>
        <th>Students Enrolled</th>
    </thead>
    <tbody>
<% @cohorts.each do |c| %>
    <tr>  
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.start_date %></td>
        <td><%= c.end_date %></td>
        <td><%= c.instructor.fname %> <%= c.instructor.lname %></td>      
        <td><%= c.course.name %></td>
        <% c.students.each do |student| %>
        <td><%= student.student_id %> </td>
        <% end %>
        <% end %>
    </tr>

    </tbody>
</table>



