

<div id="student-<%= student.id %>">
    <div>
        <span>Student No.: </span><%= student.id %>
    </div>
    <div>
        <span>First Name: </span><%= student.fname %>
    </div>
    <div>
        <span>Last Name: </span><%= student.lname %>
    <div>    
        <span>Age: </span><%= student.age %>
    </div>    
    <div>
        <span>Education: </span><%= student.education %>
    </div>
</div>        
    </br>
    </div>
    
    <div><%= link_to 'Edit', edit_student_path(student), remote:true %></div>
    <div><%= link_to 'Destroy', student_path(student),  method: :delete, remote:true, data: { confirm: 'Once you hit this button there is no going back!!!!'} %></div>
    </br>
    </br>
    </br>
    </br>

    
    
