<h1>Students-Index</h1>

    <div class="main">
        <li>Student No.</li>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Age</li>
        <li>Education</li>
    </div>
    <div id="my-students">
        <% @students.each do |student| %>
       <%= render student %>
    <ol>
        <li><%= student.id %></li>
        <li> <%= student.fname %></li>
        <li><%= student.lname %></li>
        <li><%= student.age %></li>
        <li><%= student.education %></li>
    </ol>
     
<% end %>
    </div>

<br>

<%= link_to 'New Student', new_student_path, remote: true, id: "ajaxcall" %>

<div id="student-form" style="display:none;">
</div>