<h1>Students-Index</h1>

<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
    <li><a href="/">Help</a></li>
    <li><a href="login">Log in</a></li>
    <li><a href="/students/new">Create Student</a></li>
    <li><a href="/students/:id/edit">Edit Student</a></li>
  </ul>
</nav>

<table>
    <thead>
        <th>Student No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Education</th>
    </thead>
    <tbody>
<% @students.each do |s| %>
    <tr>
        <td> <%= s.id %></td>
        <td> <%= s.fname %></td>
        <td><%= s.lname %></td>
        <td><%= s.age %></td>
        <td><%= s.education %></td>
    </tr>
<% end %>
    </tbody>
</table>