<h1>Students-Index</h1>

<div>
    <div>
        <th>Student No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Education</th>
    </div>
    <div id="my-students">
        <% @students.each do |student| %>
    <ol>
        <li><%= student.id %></li>
        <li> <%= student.fname %></li>
        <li><%= student.lname %></li>
        <li><%= student.age %></li>
        <li><%= student.education %></li>
    </ol>
<% end %>
    </div>
</div>

<br>


<%= link_to 'New Student', new_student_path, remote: true, id: "ajaxcall" %>

<div id="student-form" style="display:none;">
</div>