<h1>Instructors</h1>
<div class="flex-container">
    <div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/cohorts">Cohorts</a></li>
        <li><a href="/">Groups</a></li>
        <li><a href="/">Wet Suits</a></li>
        <li><a href="/">Surf Boards</a></li>
        <li><a href="/schools/Hawaii">Hawaii</a></li>
        <li><a href="/schools/Nicaragua">Nicaragua</a></li>
        <li><a href="/schools/TheCookIslands">The Cook Islands</a></li>
        <li><a href="/">Help</a></li>
    </ul>    
    </div>

<nav>
  <ul>
    <li><a href="/instructors/new">Create Instructor</a></li>
    <li><a href="/instructors/:id/edit">Edit Instructor</a></li>
  </ul>
</nav>

<table>
    <thead>
        <th>Instructors No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Education</th>
    </thead>
    <tbody>
<% @instructors.each do |i| %>
    <tr>
        <td><%= i.id %></td>
        <td><%= i.fname %></td>
        <td><%= i.lname %></td>
        <td><%= i.age %></td>
        <td> $<%= i.salary %></td>
        <td><%= i.education %></td>
    </tr>
<% end %>
    </tbody>
</table>
</div>
