<h1>Instructors</h1>
<div class="flex-container">

<nav>
  <ul>
    <li><a href="/instructors/new">Create Instructor</a></li>
    <li><a href="/instructors/:id/edit">Edit Instructor</a></li>
  </ul>
</nav>

<table>
    <thead>
        <th>Instructors No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Education</th>
    </thead>
    <tbody>
<% @instructors.each do |i| %>
    <tr>
        <td><%= i.id %></td>
        <td><%= i.fname %></td>
        <td><%= i.lname %></td>
        <td><%= i.age %></td>
        <td> $<%= i.salary %></td>
        <td><%= i.education %></td>
    </tr>
<% end %>
    </tbody>
</table>
</div>
