<!DOCTYPE html>
<html>
  <head>
    <title>Wanda's Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
  <h1>Wanda's Surfing School - Tonga</h1>
</div>
  
    
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%# <div class="main"> %>
  <%= yield %>
  <%# </div>     %>

 
  <div class="footer">
  <p><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></p>
  Copyright &copy; 2018 Wanda's Surfing School. Coded and Designed By: Code. Design. Surf.</div>

  
   <%# <script type="text/javascript">
 var urlmenu = document.getElementById( 'menu' );
 urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value );
 }; %>
</script> 
  </body>
</html>


