<!DOCTYPE html>
<html>
  <head>
    <title>Wanda's Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
  <h1>Wanda's Surfing School - Tonga</h1>
</div>
  
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/cohorts">Cohorts</a></li>
        <li><a href="/">Groups</a></li>
        <li><a href="/">Wet Suits</a></li>
        <li><a href="/">Surf Boards</a></li>
        <li><a href="/">Hawaii</a></li>
        <li><a href="/">Nicaragua</a></li>
        <li><a href="/">The Cook Islands</a></li>
        <li><a href="/">Help</a></li>
      </ul>

    </div>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%# <div class="main"> %>
  <%= yield %>
  <%# </div>     %>

 
  <div class="footer">
  <p><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></p>
  Wanda's Barcelona Surfing School. Coded and Designed By: Code. Design. Surf.</div>

  
   <%# <script type="text/javascript">
 var urlmenu = document.getElementById( 'menu' );
 urlmenu.onchange = function() {
      window.open( this.options[ this.selectedIndex ].value );
 }; %>
</script> 
  </body>
</html>


